---
import {ArrowUpRight} from 'lucide-astro'

const {certificate} = Astro.props
---

<li class="ms-3 p-4 rounded-xl hover:bg-neutral-800/20 duration-100">
    <div class="flex justify-between gap-5 md:flex-row">
        <div class="flex flex-col ">
            <div class="absolute -start-[6.5px] mt-2 h-3 w-3 rounded-full border border-neutral-600 bg-neutral-800"></div> 
        
            <time class="mt-2 mb-1 font-mono text-xs font-normal leading-none text-neutral-400">{certificate.time}</time> 

            <h3 class="text-lg font-semibold tracking-tight text-neutral-200">{certificate.title}</h3> 
            
            <a href={certificate.certificatorUrl} target="_blank" class="mb-2 flex w-max items-center text-pretty text-sm transition-colors duration-150 border-neutral-800 text-neutral-400 hover:text-neutral-200">
                <span>{certificate.certificatorName}</span> 
            </a>

            <div>
                <a href={certificate.credentialUrl} target="_blank" class="inline-flex gap-1 items-center text-xs font-medium justify-center rounded-xl bg-neutral-800 hover:text-neutral-50 py-2 px-3 opacity-80 transition-opacity duration-150 hover:opacity-100 group">
                    Credential
                    <ArrowUpRight class="size-3 opacity-70 group-hover:opacity-100 group-hover:translate-x-[1.5px] duration-200"/>
                </a>
            </div>

        </div>
        
        <div class="flex flex-col justify-center items-center">
            <div class="size-24">
                <img src={certificate.img} alt="Certificate badge" class="rounded-xl object-contain size-full">
            </div>
        </div>
    </div>
</li> 
